{% import 'index_helper.tmpl' as index_helper with context %}

<!DOCTYPE html>
<html \
prefix='
{% if use_open_graph or (twitter_card and twitter_card['use_twitter_cards']) %}
og: http://ogp.me/ns# article: http://ogp.me/ns/article#
{% endif %}
{% if comment_system == 'facebook' %}
fb: http://ogp.me/ns/fb#
{% endif %}
' \
{% if use_open_graph or (twitter_card and twitter_card['use_twitter_cards']) %}
vocab="http://ogp.me/ns" \
{% endif %}
{% if is_rtl %}
dir="rtl"
{% endif %}

lang="{{ lang }}">

  {% include "head.tmpl" %}

  <body class="layout-reverse sidebar-overlay">

    {% include "sidebar.html" %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ blog_title }}</a>
          </h3>
        </div>
      </div>

      <div class="container content">
        {% block content %}{% endblock %}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
          var toggle = document.querySelector('.sidebar-toggle');
          var sidebar = document.querySelector('#sidebar');
          var checkbox = document.querySelector('#sidebar-checkbox');

          // Uncheck checkbox by default on non-wide screens.
          if (window.innerWidth < 1300) {
              checkbox.checked = false;
          }

          // FIXME: The checkbox should have a cookie!
          // http://www.quirksmode.org/js/cookies.html

      })(document);
    </script>

    {{ index_helper.late_load_js() }}
    {{ body_end }}
    {{ template_hooks['body_end']() }}
  </body>
</html>
