<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <!-- The code below dynamically generates a sidebar nav of pages with -->
    <!-- `layout: page` in the front-matter. See readme for usage. -->

    {% set pages_list = navigation_links() %}
    {% for link, fa_name, title in pages_list %}
      <a class="sidebar-nav-item{% if permalink == link %} active{% endif %}" href="{{ link }}" title="{{ title }}">
          <i class="fa fa-{{fa_name}} on fa-lg"></i>
      </a>
      <span class="sidebar-nav-item-title" href="{{ link }}">{{ title }}</span>
    {% endfor %}

  </nav>

</div>
